page-register {

    .fieldError{
        margin-bottom:14px;
        margin-top: 3px;
        color: color($colors, danger);
    }

    .primary-color{
        color: color($colors, primary);
    }

}
