add-to-cart-button {
.count {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background-color: #77cde3;
    top: -2px;
   // right: -17px;
}
}
