<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start><button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button></ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="login">

  <div [formGroup]="myForm">
    <ion-list class="list-form">

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email" [class.invalid]="!myForm.controls.email.valid  && (myForm.controls.email.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <p class="fieldError" *ngIf="myForm.controls.email.errors?.remote  && (myForm.controls.email.dirty || submitAttempt)">{{myForm.controls.email.errors?.remote}}</p>
      <p class="fieldError" *ngIf="myForm.controls.email.errors?.required  && (myForm.controls.email.dirty || submitAttempt)">Email required</p>
    </ion-list>

    <button ion-button color="primary" block type="submit" [disabled]="loading" (click)="requestCode()">Reset Password</button>
  </div>
  <div class="spinner" *ngIf="loading == true">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

</ion-content>