<!--
  Generated template for the PasswordChangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="login">

  <div [formGroup]="myForm">
    <ion-list class="list-form">

      <ion-item>
        <ion-label floating>Old Password</ion-label>
        <ion-input type="password" formControlName="oldPassword" [class.invalid]="!myForm.controls.oldPassword.valid  && (myForm.controls.oldPassword.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <p class="fieldError" *ngIf="myForm.controls.oldPassword?.remote  && (myForm.controls.oldPassword.dirty || submitAttempt)">{{myForm.controls.token.errors?.remote}}</p>
      <p class="fieldError" *ngIf="myForm.controls.oldPassword?.required  && (myForm.controls.oldPassword.dirty || submitAttempt)">Email required</p>

      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" formControlName="password" [class.invalid]="!myForm.controls.password.valid  && (myForm.controls.password.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <p class="fieldError" *ngIf="myForm.controls.password.errors?.remote  && (myForm.controls.password.dirty || submitAttempt)">{{myForm.controls.password.errors?.remote}}</p>
      <p class="fieldError" *ngIf="myForm.controls.password.errors?.required  && (myForm.controls.password.dirty || submitAttempt)">Email required</p>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword" [class.invalid]="!myForm.controls.confirmPassword.valid  && (myForm.controls.confirmPassword.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <p class="fieldError" *ngIf="myForm.controls.confirmPassword.errors?.remote  && (myForm.controls.confirmPassword.dirty || submitAttempt)">{{myForm.controls.confirmPassword.errors?.remote}}</p>
      <p class="fieldError" *ngIf="myForm.controls.confirmPassword.errors?.required  && (myForm.controls.confirmPassword.dirty || submitAttempt)">Email required</p>
    </ion-list>

    <button ion-button color="primary" block type="submit" [disabled]="loading || !myForm.valid" (click)="changePassword()">Change Password</button>
  </div>
  <div class="spinner" *ngIf="loading == true">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

</ion-content>