<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Following</ion-title>
    <ion-buttons end *ngIf="loggedIn==true">
      <facebook-friends-button></facebook-friends-button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <oorsi-mobile-friends-item [user]="user" *ngFor="let user of users" (profileEmitter)="openProfile($event)"></oorsi-mobile-friends-item>
  </ion-list>
</ion-content>