<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start><button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button></ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="login">

  <div [formGroup]="myForm">
    <ion-list class="list-form">

      <ion-item>
        <ion-label floating>Reset Token</ion-label>
        <ion-input type="number" formControlName="token" [class.invalid]="!myForm.controls.token.valid  && (myForm.controls.token.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <p class="fieldError" *ngIf="myForm.controls.token.token?.remote  && (myForm.controls.token.dirty || submitAttempt)">{{myForm.controls.token.errors?.remote}}</p>
      <p class="fieldError" *ngIf="myForm.controls.token.token?.required  && (myForm.controls.token.dirty || submitAttempt)">Token required</p>

      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" formControlName="password" [class.invalid]="!myForm.controls.password.valid  && (myForm.controls.password.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <p class="fieldError" *ngIf="myForm.controls.password.errors?.remote  && (myForm.controls.password.dirty || submitAttempt)">{{myForm.controls.password.errors?.remote}}</p>
      <p class="fieldError" *ngIf="myForm.controls.password.errors?.required  && (myForm.controls.password.dirty || submitAttempt)">New Password required</p>

      <ion-item>
        <ion-label floating>Confirm password</ion-label>
        <ion-input type="password" formControlName="confirmPassword" [class.invalid]="!myForm.controls.confirmPassword.valid  && (myForm.controls.confirmPassword.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <p class="fieldError" *ngIf="myForm.controls.confirmPassword.errors?.remote  && (myForm.controls.confirmPassword.dirty || submitAttempt)">{{myForm.controls.confirmPassword.errors?.remote}}</p>
      <p class="fieldError" *ngIf="myForm.controls.confirmPassword.errors?.required  && (myForm.controls.confirmPassword.dirty || submitAttempt)">Confirm Password Required</p>
    </ion-list>

    <button ion-button color="primary" block type="submit" [disabled]="loading" (click)="resetPassword()">Reset Password</button>
  </div>
  <div class="spinner" *ngIf="loading == true">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

</ion-content>